<% content_for :stylesheets do %>

#top_menu {display: none}
<%end%>
<div class="container">
<div class="row">
	<div class="span8">
        <img src="<%=@imagelocation%>" alt="image for task">
    </div>
    <div class="span4">
    	Ignore all the graphics on the page - just type the text content
    </div>
    
</div>
</div>
