

<div class="row">
	<div class="span8">
        <img height="400px" src="<%=@imagelocation%>" alt="image for task">
    </div>
    <div class="span4">
    	Ignore all the graphics on the page - just type the text content
    </div>
</div>
