
<div class="container">
<div class="row">
	<div class="span8">
        <img src="<%=@imagelocation%>" alt="image for task">
    </div>
    <div class="span4">
    	<b>Ignore all the graphics in this image - just type the text content</b>
    </div>
    
</div>
</div>
