@import "bootstrap";


//.row {
//	margin-left: 40 px;
//}

//.imagediv {
//    vertical-align: middle;
//}

.outputdiv {
	min-height: 100%;
	height: 100%;
}

textarea#output {
	min-height: 100%;
	height: 100%;
}
